.App{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.App-header>h1{
    height: 10vh;
    background-color: khaki;
    width: 100vw;
    display: flex;
    font-size: 6vh;
    justify-content: center;
    text-align: center;
}
